* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Trueno';
    src: url('path-to-your-font/trueno-regular.woff2') format('woff2'),
        url('path-to-your-font/trueno-regular.woff') format('woff'),
        url('path-to-your-font/trueno-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Trueno', sans-serif;
    background-color: rgb(255, 255, 255);
    color: #000000;
    scroll-behavior: smooth;

}


h1,
h2,
h3,
.logo {
    font-family: 'Montserrat', sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: row;
    padding: 0 30px;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    z-index: 999;
    background-color: #000000a2;
}

#hamburger {
    display: none;
}

ul li a:hover {
    /* color: #4b50b4; */
    /* text-decoration: underline; */
    background: #4b50b4;
    color: #fff;
}

ul li a {
    text-decoration: none;
    color: #000;
    border-radius: 25px;
    font-size: 20px;
    padding: 10px 15px;
    transition: all 0.4s ease;
}

ul li a.active {
    color: #fff;
    font-weight: bold;
    background-color: #4b67b4;
}


#ham-nav {
    display: none;
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

}

.social-icons a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-direction: row; */
    font-size: 30px;
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    border-radius: 50%;
    color: #4b67b4;
    border: 2px solid #4b67b4;

}

.social-icons a:hover {
    color: #fff;
    /* transform: scale(1.3) translateY(-5px); */
    background-color: #4b67b4;
    box-shadow: 0 0 25px #4b67b4;
}


.logo {
    font-size: 20px;
    width: 100%;
    color: #ffffff;
    font-weight: 200;
    cursor: pointer;
    transition: 0.5s ease;
    text-decoration: none;
    padding: 25px;
}

.logo:hover {
    transform: translateX(10px) scale(1.1);
}

nav {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
}

nav ul li {
    padding: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

section {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

section h1 {
    font-size: 40px;
}

.child {
    width: auto;
    max-width: 600px;
    height: auto;
    max-height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 20px;
}

.home span {
    color: #4b67b4;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.child p {
    font-size: 20px;
    line-height: 30px;
}

.child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}

.home .child {
    /* top: 50px; */
    margin: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    flex-wrap: wrap;
}

.home .child img {
    width: 350px;
    height: 500px;
}

.btn {
    display: flex;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #4b67b4;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #4b67b4;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale3d(1.03);
    background-color: #4b67b4;
    color: #fff;
    box-shadow: 0 0 25px #4b67b4;
}


.l {
    text-align: center;
    width: 100%;
    text-decoration: rgb(0, 0, 0) underline;
    color: #4b67b4;
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.about h1 {
    width: 100%;
    text-align: start;
    margin-right: 10px;
}

.about span {
    color: #4b67b4;
}

.about .child img {
    width: 350px;
    height: 400px;
}

.about p {
    line-height: 30px;
    margin-right: 10px;
}

.education {
    padding: 20px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.education-contant {
    background-color: #f8f9fa;
    border-left: 4px solid #007bff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.education-contant h2 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
    text-transform: uppercase;
}

.education-contant p {
    margin: 10px 0 0;
    font-size: 1em;
    color: #666;
}

.education-contant:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.187);
}

.education-contant:nth-child(1) {
    border-color: #28a745;
}

.education-contant:nth-child(2) {
    border-color: #ffc107;
}

.education-contant:nth-child(3) {
    border-color: #17a2b8;
}

.education-contant:nth-child(4) {
    border-color: #dc3545;
}

@media(max-width:1100px) {
    nav ul {
        flex-direction: column;
        /* display: none; */
        flex-direction: column;
        display: none;
        position: relative;
        right: 262px;
        top: 60px;
    }

    #hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        /* left: 0; */
        top: 15px;
        right: 30px;
        font-size: 35px;
        color: #fff;
    }

    header {
        justify-content: center;
        align-items: start;
        width: 100%;
    }

    /* #ham-nav {
        display: none;
        position: absolute;
        top: 50px;
        right: 0;
        width: 150px;
        height: 100vh;
    } */
    .logo {
        font-size: 18px;
        padding: 20px;
        width: 423px;
    }

    #nav {
        display: flex;
    }

    nav {
        display: flex;
    }
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        /* display: none; */
        flex-direction: column;
        display: none;
        position: relative;
        right: 204px;
        top: 60px;
    }
    #hamburger{
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .education {
        padding: 10px;
    }

    .education-contant {
        padding: 15px;
    }

    .education-contant h2 {
        font-size: 1.2em;
    }

    .education-contant p {
        font-size: 0.9em;
    }
}

.skills .child {
    transition: .3s ease-in;
    background-color: white;
    padding: 10px;
}

.skills .child img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

.skills .child:hover {
    transform: scale(1.1);

}
section #skills{
    margin: auto;
}

.projects {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    padding: auto;
}

.projects .project-parent {
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: aliceblue; */
    border-radius: 20px;
    background-color: #4b67b4;
}

.projects .child {
    width: 250px;
    height: 250px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 1;
}

.projects .child i {
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    z-index: 1;
    font-size: 30px;
    /* background-color: white; */
    width: 50px;
    height: 50px;
    padding: 10px;
    left: 60px;
    top: 180px;
    margin: auto;
    border-radius: 100%;
    color: #000;
    background-color: #fff;
}

.projects .child .git {
    right: -15px;
}

.projects .child img {
    width: 250px;
    height: 250px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000cc;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    border-radius: 20px;
    transition: opacity 0.5s ease;

}

.overlay h4 a {
    text-decoration: none;
    color: white;
}

.overlay h4 {
    margin: 0;
    font-size: 24px;
    text-align: center;
}

.child:hover .overlay {
    opacity: 1;
}

.contact {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact .child {
    width: 500px;
}

.contact .child h2 {
    font-size: 2em;
    margin-bottom: 10px;
    width: 70%;
}

.contact .child p {
    font-size: 1.2em;
    margin-bottom: 20px;
    width: 70%;
}

.contact-details {
    font-size: 1.1em;
}

.contact-details p {
    margin: 10px 0;
}

.contact .child p i {
    color: #4b67b4;
    margin-right: 10px;
    font-size: 25px;
}

.contact .child form {
    width: 100%;
}

.contact .child form input,
.contact .child textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

.contact .child form button {
    width: 100%;
    color: #4b67b4;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    border: 2px solid #4b67b4;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.contact .child form button:hover {
    background: #4b67b4;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 10px rgb(0, 33, 82);
}

/* Responsive for smaller screens */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        padding: 30px;
    }

    .contact-info,
    .contact-form {
        width: 100%;
    }

    .contact-info {
        margin-bottom: 30px;
    }
}


/* .projects .project-parent .child a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    text-decoration: none;
    border-radius: 20px;
    font-size: 30px;
    color: white;
    font-weight: 800;
    position: absolute;
    top: -100px;  
    transition: .3s ease-in;
    z-index: 999;
}
.projects .project-parent .child:hover a{
    opacity: 1;
    text-decoration: none;
    font-size: 30px;
    color: white;
    font-weight: 800;
    position: absolute;
    top: 0;
    backdrop-filter: blur(10px);
    /* z-index: 1; */
footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    background-color: #4b67b4;
}

@media(max-width:600px) {
    nav ul{
        right: 170px;
    }
}
@media(max-width:550px){
    nav ul{
        right: 150px;
    }
}
@media(max-width:400px) {
    .home .child img {
        width: 250px;
        height: 400px;
    }
    nav ul{
        right: 85px;
    }
    .about .child img {
        width: 250px;
        height: 400px;
    }
}

@media(max-width:360px) {
    .home .child img {
        width: 250px;
        height: 400px;
    }

    .about .child img {
        width: 250px;
        height: 400px;
    }
    nav ul{
        right: 50px;
    }
    .projects .child img {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }


    .projects .project-parent {
        width: 90%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        /* background-color: aliceblue; */
        border-radius: 20px;
        background-color: #4b67b4;
    }
}